.centrer{
	color: #EEE9BF;
	padding-top: 3%;
	text-align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	
	
}
h1{
	font-family: 'Major Mono Display', monospace;
	font-size: 45px;
	
}
p{
	font-size: 25px;
	font-family: 'Staatliches', cursive;
}

.smal{
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
}
.padding{
	padding-top: 20px;
}
.dash{
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: clip; 
}
img{
	width: 60%;
	height: 60%;
}

.buttonALL{
	display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    background:blue;
    color:white;
    margin-right:10px;
	font-family: 'Staatliches', cursive;
	
}
body{
	background-image: url("../images/bg.jpg");
}
.text-box{
	text-align: center;
	border: solid;
	border-radius: 10px;
	border-color: whitesmoke;
	background-color: whitesmoke;
}
.title{
	font-family: 'Staatliches', cursive;
	font-weight: bold;
}
/* BUTTONS 1*/
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-size: 100%;
	background-image: url("../images/nav.jpg");
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* if you whant the old buttons go to Web site starter kit\old buttons.txt open DO NOT OPEN IT WITH NOTEPAD and paste the code under here  and deete BUTTONS 1*/