.centrer{
	color: #EEE9BF;
	padding-top: 3%;
	text-align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	
	
}
h1{
	font-family: 'Major Mono Display', monospace;
	font-size: 45px;
	
}
p{
	font-size: 25px;
	font-family: 'Staatliches', cursive;
}
.button{
	font-family: 'Lobster', cursive;
	background-color: #6A5ACD;
  	color: white;
	font-weight: normal;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 21px;
  	margin: 4px 2px;
  	cursor: pointer;
	border: solid 5px;
	border-radius: 10px;
	border-color: aliceblue;
	border-color: darkslateblue;
	padding: 15px 32px;
}
.smal{
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
}
.padding{
	padding-top: 20px;
}
.dash{
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: clip; 
}
img{
	width: 60%;
	height: 60%;
}
.buttonyt{
	font-family: 'Lobster', cursive;
	background-color: #E33638;
  	color: white;
	font-weight: normal;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 21px;
  	margin: 4px 2px;
  	cursor: pointer;
	border: solid 5px;
	border-radius: 10px;
	border-color: brown;
	padding: 15px 32px;
}
.buttonALL{
	width: auto;
	resize:horizontal;
}
.buttoninsta{
	font-family: 'Lobster', cursive;
	background-color: #F58529;
  	color: white;
	font-weight: normal;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 21px;
  	margin: 4px 2px;
  	cursor: pointer;
	border: solid 5px;
	border-radius: 10px;
	border-color: darkgoldenrod;
	padding: 15px 32px;
}
body{
	background-image: url("../images/bg.jpg");
}
.text-box{
	text-align: center;
	border: solid;
	border-radius: 10px;
	border-color: whitesmoke;
	background-color: whitesmoke;
}
.title{
	font-family: 'Staatliches', cursive;
	font-weight: bold;
}